.water-usage-container {
  height: 93vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.water-usage-header {
  margin:0;
  padding:0;
}
.water-usage-unit-container {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.water-usage-unit-container thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Hace más compactas las filas de la tabla */
.water-usage-unit-container td,
.water-usage-unit-container th {
  padding: 0.35rem 0.5rem;
  font-size: 0.9rem;
}

/* Reduce la altura de los inputs */
.water-usage-unit-container .form-control {
  min-height: 30px;
  padding: 0.2rem 0.45rem;
  font-size: 0.9rem;
}

/* ESTILOS PARA EL COMPONENTE WaterUsageTable */

.input-readonly {
    background-color: #f1f3f5 !important;
    color: #495057;
    font-weight: 500;
    border: 1px solid #dee2e6;
    cursor: not-allowed;
}