body {
  background-color: whitesmoke;
  height: 100%;
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-general {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 10vh;
  background-color: white;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #021138;
}

.btn-login {
  background-color: white;
  color: #021138;
  border: 1px solid #0d6efd;
}

.btn-login:hover {
  background-color: #0d6efd;
  color: white;
  border: 1px solid #0d6efd;
}

.container-jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 236, 249);
  background-image: url("https://drive.google.com/file/d/1JA8MsJ5zhLEp4UDRzJvMMDJQHk1RbvZt/view?usp=sharing");  
}

.jumbotron-content {
  text-align: left;
  padding: 3rem;
}

.jumbotron-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.jumbotron-subtitle {
  font-size: 1.3rem;
}
  
.jumbotron-img {
  height: 200px;   
  width: auto;    
}

.Features {
  background-color: white;
}

.card-img-top {
  height: 300px;
  width: auto;
  object-fit: cover;
}

/* FOOTER SIEMPRE ABAJO */
.footer {
  margin-top: auto;
  background-color: #0d6efd;
  color: white;
  height: 10vh;
}

footer p {
  margin: 0;
}

.container-login {
  background-color: white;
  height: 85vh;
}